/* CSS Document */

body {
	background-color: #1B3866;
	padding-top: 50px;
}

.container {
	max-width: 970px;
}

.carousel, .carousel-inner, .item {
	max-width: 970px;
}

.navbar-brand {
	height: 50px;
}

.footer {
	margin-top: 0px;
	background-color: #222;
	margin: 15px;
}

.jumbotron {
	margin-bottom: 0px;
}

.contentBlock {
    margin-left: 0;
    width: 940px;
    height: 180px;
    background-color: #fff
}

.contentBlock.dark {
    background-color: #F1F1F1
}

.contentHeader {
    margin-top: 45px;
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.contentText {
    font-size: 13px;
    width: 95%
}

.contentHeader.footer {
  color: #9d9d9d;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
}

.contentText.footer {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 0px;
}

.visitSite.downloadInfo {
    background-color: #636a74;
    padding: 4px 10px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    border-width: 1px;
    border-style: none;
    -moz-border-top-colors: #fff;
    -moz-border-right-colors: #fff;
    -moz-border-bottom-colors: #fff;
    -moz-border-left-colors: #fff;
    border-radius: 6px;
    -webkit-transition: background-color .25s,color .25s,transform .25s;
    transition: background-color .25s,color .25s,transform .25s;
    border-color: #fff;
}

.downloadInfo.downloadInfo:hover {
    background-color: #eee;
    color: #636a74;
    transform: scale(1.0);
}
