/* CSS Document */

body {
	background-color: #1B3866; /*Pres Blue */
	padding-top: 50px;
}

.container {
	max-width: 970px;
}

row {
}

h1 {
	font-weight: 700;
}

.carousel, .carousel-inner, .item {
	max-width: 970px;
}

.navbar-brand {
	height: 50px;
}

.footer {
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #222222;
	padding-top 5px;
	padding-bottom: 5px;
}

.page-header {
	border-bottom-color: #1B3866;
	margin-top: 15px;
	color: #1B3866; 	/*Pres Blue */
}

.content-block {
    background-color: #ffffff;
		padding: 30px;
}

.content-block.shaded {
    background-color: #EEEEEE;
}

.content-header {
    margin-top: 45px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.content-text {
    font-size: 13px;
    width: 95%;
}

.content-header.footer {
  color: #9d9d9d;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
}

.content-text.footer {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 0px;
}

.visit-site.download-info {
    background-color: #636a74;
    padding: 4px 10px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    border-width: 1px;
    border-style: none;
    -moz-border-top-colors: #ffffff;
    -moz-border-right-colors: #ffffff;
    -moz-border-bottom-colors: #ffffff;
    -moz-border-left-colors: #ffffff;
    border-radius: 6px;
    -webkit-transition: background-color .25s,color .25s,transform .25s;
    transition: background-color .25s,color .25s,transform .25s;
    border-color: #ffffff;
}

.download-info.download-info:hover {
    background-color: #eee;
    color: #636a74;
    transform: scale(1.0);
}
